{% extends "layout.html" %}
{% block content %}

{% for data in date %}
<header class="masthead" style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.5) 75%, #000000 100%),url({{data.6}});
        background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading" style="padding-top: 30px;">
            <h1 style="color:white">{{data.1}} </h2>
            
            <h2 class="subheading" style="color:white">{{data.2}}</h2>
            
            <span class="meta" style="color:white">Escrito por
              {%if type != "blog"%}
              <a href="#">{{data.8}} {{ data.9 }}</a>
              {%else%}
              <a href="#">{{data.9}} {{ data.10 }}</a>
              {%endif%} 
            </span>
          </div>
        </div>
      </div>
    </div>
</header>

<div class="container" style="padding-top:4vmin">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto" style="text-align: justify">
        {{data.3 | safe}}
        <hr>
        <div class="clearfix">
          {% if otherData.0.0 != " " %}
          <a class="btn btn-primary float-left" href="/{{type}}/{{otherData.0.0}}" data-toggle="tooltip" data-placement="top" title="anterior" >←  Anterior</a>
          {% endif %}
          {% if otherData.1.0 != " " %}
          <a class="btn btn-primary float-right" href="/{{type}}/{{otherData.1.0}}" data-toggle="tooltip" data-placement="top" title="posterior" >Posterior  →</a>
          {% endif %}
        </div>
      </div>
      <!-- <div class="col-md-4">




        Side Widget 
        <div class="card my-4">
          <h5 class="card-header">Side Widget</h5>
          <div class="card-body">
            You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
          </div>
        </div>-->

</div>
    </div>
</div>



<div style="padding-top:10vmin"></div>
{% endfor %}

{% endblock %}