{% extends "layout.html" %}
{% block content %}

<title> Administrador </title>
<header class="masthead" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 75%, #000000 100%),url('../static/assets/img/bg-masthead.jpg')">
<form name="New news" action="/loading" enctype="multipart/form-data" method="POST" id="contactForm" style="padding-top: -3vmin" novalidate>
  <div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p style="color: red">{{message}}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="control-group">
      <div class="form-group floating-label-form-group controls">
        <label style="color:white" >Contraseña </label>
        <input type="password" class="form-control" name="password" placeholder="password" id="password" required data-validation-required-message="Please enter your password.">
        <p class="help-block text-danger"></p>
      </div>
    </div>
    <div id="success"></div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary" id="sendMessageButton">Entrar</button>
    </div>
{% endblock %}