{% extends "layout.html" %}
{% block content %}

<div class="video-background">
    <div class="video-wrap">
        <div id="video">
            <video id="bgvid" autoplay loop muted playsinline>
                <source src="/static/assets/img/0002-2599.mp4" type="video/mp4">
        </div>
    </div>
</div>
<div class="caption">
    <header class="masthead" style="background-image: rgba(0, 0, 0, 0.5)">
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
                <h1 class="mx-auto my-0 text-uppercase">PROYECTO GEOGRAFÍA</h1>
                <h2 class="text-white-90 mx-auto mt-2 mb-5">Instituto de ciencias de la tierra</h2>
                <a class="btn btn-primary js-scroll-trigger" href="#about">Más información</a>
            </div>
        </div>
      </header>
</div>
<!-- About-->
<section class="about-section text-center" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0,1) 0%, rgba(0, 0, 0, 0.5) 75%, #000000 100%),url('../static/assets/img/the-atacama-desert-2832866.jpg')" id="about">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 mx-auto">
              <h2 class="text-white mb-4">Sobre nosotros</h2>
              <p class="text-white-50">
                Nuestro objetivo es dar a conocer investigaciones que desarrollan algunos docentes, alumnos y colaboradores del área de Geografía Física de la Universidad Austral de Chile. Compartimos información de los sitios que monitoreamos, nuestros proyectos, tutoriales y más.
              </p>
          </div>
      </div>
      <img class="img-fluid" src="{{ url_for('static', filename='assets/img/chile-5121573.jpg')}}" alt="" />
      <div style=" min-height: 11.75vmin;" ></div>
  </div>
</section>
<!-- Projects-->
<section class="projects-section bg-light" id="projects">
  <div class="container">
      <!-- Featured Project Row
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
          <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="{{ url_for('static', filename='assets/img/valdivia-2207188.jpg')}}" alt="" /></div>
          <div class="col-xl-4 col-lg-5">
              <div class="featured-text text-center text-lg-left">
                  <h4>Shoreline</h4>
                  <p class="text-black-50 mb-0">Grayscale is open source and MIT licensed. This means you can use it for any project - even commercial projects! Download it, customize it, and publish your website!</p>
              </div>
          </div>
      </div>-->
      <!-- Project One Row-->
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
          <div class="col-lg-6"><img class="img-fluid" src="http://drive.google.com/uc?export=view&id=13PDLElMc5w62geFpEuA3FtrKlBwzNp5s" alt="" /></div>
          <div class="col-lg-6">
              <div class="bg-black text-center h-100 project">
                  <div class="d-flex h-100">
                      <div class="project-text w-100 my-auto text-center text-lg-left">
                          <h4 class="text-white">Análisis de peligro de inundaciones y movimientos en masa</h4>
                          
                          <hr class="d-none d-lg-block mb-0 ml-0" />
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Project Two Row-->
      <div class="row justify-content-center no-gutters">
          <div class="col-lg-6"><img class="img-fluid" src="http://drive.google.com/uc?export=view&id=1NUdxT_urHIZQvt5gyicRxhSe4B4blKv6" alt="" /></div>
          <div class="col-lg-6 order-lg-first">
              <div class="bg-black text-center h-100 project">
                  <div class="d-flex h-100">
                      <div class="project-text w-100 my-auto text-center text-lg-right">
                          <h4 class="text-white">Geomorfología de campo y experimental</h4>
                          
                          <hr class="d-none d-lg-block mb-0 mr-0" />
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Project Two Row-->
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6"><img class="img-fluid" src="http://drive.google.com/uc?export=view&id=1CndLFTEm30MSVBvnUTcALxBD5ZVBYA0u" alt="" /></div>
        <div class="col-lg-6">
            <div class="bg-black text-center h-100 project">
                <div class="d-flex h-100">
                    <div class="project-text w-100 my-auto text-center text-lg-left">
                        <h4 class="text-white">Desarrollo de dataloggers de bajo costo para monitoreo de ríos, lagos y glaciares</h4>
                
                        <hr class="d-none d-lg-block mb-0 ml-0" />
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</section>
{% endblock %}

